{% extends 'base.html' %}
{% load static %}

{% block title %}My blog{% endblock %}

{% block banner %}
<div class="heading-page header-text">
    <!--    <section class="page-heading">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-lg-12">-->
    <!--                    <div class="text-content">-->
    <!--                        <h4>Post Details</h4>-->
    <!--                        <h2>Single blog post</h2>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
</div>
{% endblock %}

{% block banner1 %}
<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            <div class="item">
                <img src="{% static 'images/banner-item-01.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Fashion</span>
                        </div>
                        <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 12, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/banner-item-02.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Nature</span>
                        </div>
                        <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 14, 2020</a></li>
                            <li><a href="#">24 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/banner-item-03.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Lifestyle</span>
                        </div>
                        <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 16, 2020</a></li>
                            <li><a href="#">36 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/banner-item-04.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Fashion</span>
                        </div>
                        <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 18, 2020</a></li>
                            <li><a href="#">48 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/banner-item-05.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Nature</span>
                        </div>
                        <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 24, 2020</a></li>
                            <li><a href="#">64 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/banner-item-06.jpg' %}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>Lifestyle</span>
                        </div>
                        <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 26, 2020</a></li>
                            <li><a href="#">72 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            {% for post in posts %}
            {% if post.is_active %}
            <div class="col-lg-12">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="{% url 'post' post.id %}">
                            <img src="{% static 'images/blog-post-01.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="down-content">
                        {% for category in post.category.all %}
                        <a href="{% url 'category' category.id %}"><span>&nbsp;{{ category }}&nbsp;</span></a>
                        {% endfor %}
                        <a href="{% url 'post' post.id %}"><h4>{{ post.header }}</h4></a>
                        <ul class="post-info">
                            <li><a href="{% url 'author' post.author.id %}">{{ post.author }}</a></li>
                            <li style="font-size: 14px;
                                        color: #aaa;
                                        font-weight: 400;
                                        transition: all .3s;">
                                {{ post.reg_date|date:"D d M Y" }}
                            </li>
                            <li><a href="#">0 Comments</a></li>
                        </ul>
                        <p>{{ post.text|safe|truncatechars:420 }}</p>
<!--                        <div class="post-options">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <ul class="post-tags">-->
<!--                                        <li><i class="fa fa-tags"></i></li>-->
<!--                                        <li><a href="#">Beauty</a>,</li>-->
<!--                                        <li><a href="#">Nature</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <ul class="post-share">-->
<!--                                        <li><i class="fa fa-share-alt"></i></li>-->
<!--                                        <li><a href="#">Facebook</a>,</li>-->
<!--                                        <li><a href="#"> Twitter</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}